
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/dist/css/bootstrap";

.center {
    text-align: center;
}

.g-recaptcha {
    width: 304px;
    margin: 0 auto;
}
