
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "node_modules/font-awesome/scss/font-awesome";

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/dist/css/bootstrap";
@import "node_modules/tether/dist/css/tether";

.center {
    text-align: center;
}

.g-recaptcha {
    width: 304px;
    margin: 0 auto;
}

// add a margin between the QA
.qa {
    margin: 1em 0;
}

// For the handle when we drag and drop the QAs
.handle:hover {
    cursor: grab;
}
.handle:active {
    cursor: grabbing;
}

.vertical-center {
    display: flex;
    align-items: center;
}
